.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Atemperar:
            | adecuar a la temperatura
        hr
        p
            strong.mr-2 Bioseguridad:
            | son las prácticas que tienen por objeto eliminar o minimizar el factor de riesgo que pueda llegar a afectar la salud o la vida de las personas o pueda contaminar el ambiente.
        hr
        p
            strong.mr-2 Caja térmica:
            | elemento que mantiene el frío durante el transporte de la vacuna y permiten el almacenamiento en caso de avería eléctrica. 
        hr
        p
            strong.mr-2 Criogenia:
            | conjunto de técnicas y las prácticas que se llevan a cabo apelando a temperaturas muy bajas.
        hr
        p
            strong.mr-2 Sublimación: 
            | pasar de forma directa del estado sólido al de vapor. Hacer que la materia pase del estado sólido al gaseoso, sin pasar en ningún momento por el estado líquido.