.container#page-introduccion

    .header-ecored
        h1 Introducción

    .jumbotron.bg-white 
      .row.justify-content-center
        .col-12.mb-4
          .jumbotron.mb-0 
            p.mb-0 La vacunación contra el COVID-19 presenta un gran reto, que es la cadena de frío. El siguiente video nos presenta una introducción a este componente formativo y lo que debe tener presente cada una de las personas responsables de la vacunación y que conforman el talento humano en salud.
        .col
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/NkNcJW7gYuc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')              

    
