include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Ministerio de Salud. (2016). Cadena de Frío. En el Ministerio de Salud y Protección Social de Colombia (Ed.), Manual técnico administrativo del PAI. (2nd ed., p. 86). ", "https://www.minsalud.gov.co/sites/rid/Paginas/results_advanced.aspx?k=manual+pai ")
        +referenciaItem("Ministerio de Salud. (2020). Lineamientos generales para el programa ampliado de inmunizaciones (PAI) en el contexto de la pandemia de COVID-19. (pp. 1–38). Ministerio de salud.", "")
        +referenciaItem("Ministerio de Salud. (2020). Plan Nacional de Vacunación contra el COVID 19. ", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/pnv-contra-covid-19.pdf ")
        +referenciaItem("Resolución No. 1155 de 2020. Protocolo Bioseguridad para manejo y control de COVID 19 en la prestación de los servicios de salud., 24 (2020).", "")
        +referenciaItem("Ministerio de Salud y Protección Social de Colombia. (2019). Resolución Número 003100 De 2019. Diario Oficial, 2019, 1–230", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/resolucion-3100-de-2019.pdf ")
        +referenciaItem("Organización Panamericana de la Salud. (2006). Curso de gerencia para el manejo efectivo del Programa Ampliado de Inmunización (PAI) Módulo III. Cadena de frío (OPS (ed.); 1st ed.). ", "https://iris.paho.org/bitstream/handle/10665.2/51816/9275325456_mod3_spa.pdf?sequence=3&isAllowed=y ")
          
        
        
 


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            