.container#tema_4

    .header-ecored
        h1 4. Bioseguridad     
      

    .jumbotron.bg-white 
      .row.justify-content-center.align-items-center
        .col-12.col-lg-10.mb-5  
          img(src="assets/images/pages/tema_4/img_4_01.svg", alt="",style="width:100%")      
        .col-12.col-lg-10.mb-3
          p Es obligatorio cumplir con los protocolos de bioseguridad aprobados por cada institución para el servicio de vacunación, así como incorporar las medidas adicionales de bioseguridad declaradas conforme al conocimiento actual de la enfermedad causada por el COVID19 y sus mecanismos de transmisión. Estas recomendaciones son de carácter provisional, en pro de la seguridad del trabajador de la salud y del usuario. 
        .col-12.col-lg-10
          .jumbotron.mb-0.p-4(style="background-color:#FFEBED;")
            .row.justify-content-center.align-items-center
              .col-auto 
                img(src="assets/images/pages/icons/biohazard.svg", alt="", style="width:75px")
              .col               
                p.mb-0 Se insta a todas las personas a seguir medidas de bioseguridad en todo momento.

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema4_1
            h2 4.1 Principios    

      .row.justify-content-center.align-items-center 
        .col-auto.d-none.d-lg-inline-block 
          img(src="assets/images/pages/tema_4/img_4_1_01.svg", alt="", style="width:350px")
        .col-12.col-lg 
          .row.justify-content-center 
            .col-10     
              .card-media(style="background-color:#F2F2F2")
                .card-media__body 
                  .card__figure
                    img(src="assets/images/pages/tema_4/icon_4_1_01.svg", alt="", style="width:100px")
                  .card__copy 
                    p.mb-2 #[strong Universalidad]                
                    p.mb-0 Se debe asumir que toda persona es portadora de algún agente infeccioso hasta que no se demuestre lo contrario.
          .row.justify-content-center 
            .col-10   
              .card-media(style="background-color:#F2F2F2")
                .card-media__body 
                  .card__figure
                    img(src="assets/images/pages/tema_4/icon_4_1_02.svg", alt="", style="width:100px")
                  .card__copy 
                    p.mb-2 #[strong Uso de barreras]                
                    p.mb-0 Para evitar el contacto directo con las personas y con objetos contaminados, se deben utilizar barreras químicas, físicas o mecánicas.
          .row.justify-content-center 
            .col-10     
              .card-media(style="background-color:#F2F2F2")
                .card-media__body 
                  .card__figure
                    img(src="assets/images/pages/tema_4/icon_4_1_03.svg", alt="", style="width:100px")
                  .card__copy 
                    p.mb-2 #[strong Eliminación de residuos]                
                    p.mb-0 Según la normatividad vigente y los protocolos institucionales, se deben desechar todos los residuos generados de la atención en la caneca específica.

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema4_2
            h2 4.2 Objetivo  
      .row  
        .col-12
          .jumbotron.mb-0.p-4
            .row.justify-content-center.align-items-center
              .col-auto 
                img(src="assets/images/pages/icons/prescription.svg", alt="", style="width:90px")
              .col               
                p.mb-0 Orientar en el marco de la pandemia por el nuevo coronavirus COVID19, las medidas generales de bioseguridad que se deben adoptar en las actividades de los prestadores de los servicios de salud, incluidas las actividades administrativas, de apoyo, vigilancia y alimentación, con el fin de disminuir el riesgo de trasmisión del virus de humano a humano durante la atención en salud (Resolución No. 1155 de 2020. Protocolo Bioseguridad para manejo y control de COVID19, en la prestación de los servicios de salud., 2020).        


    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema4_3
            h2 4.3 Procedimiento        

      .row.justify-content-center.align-items-center.mb-5        
        .col-12.col-lg-10.mb-5 
          img(src="assets/images/pages/tema_4/img_4_3_01.svg", alt="",style="width:100%")        

        .col-12.col-lg-10
          .hr-divider.mb-5
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              p Debe tener en cuenta el procedimiento especial para la recepción de insumos.
              .row
                .col-auto    
                  a(href="media/anexos/Anexo_3_Recepcion-Insumos-covid19.pdf",target="_blank",style="color:#12263F")        
                    .jumbotron.mb-0.p-4
                      .row.justify-content-center.align-items-center
                        .col-auto
                          img(src="assets/images/pages/icons/icon_media_pdf.svg", alt="", style="width:55px")
                        .col
                          p.mb-0 #[strong Anexo.] Recepción de insumos de interés de salud pública.
          .hr-divider.my-5
          .list
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              p Es ideal que no olvide el correcto lavado de manos
              .row
                .col-auto    
                  a(href="https://youtu.be/N5iWzjNWh8A",target="_blank",style="color:#12263F")        
                    .jumbotron.mb-0.p-4
                      .row.justify-content-center.align-items-center
                        .col-auto
                          img(src="assets/images/pages/icons/icon_media_video.svg", alt="", style="width:55px")
                        .col
                          p.mb-0 #[strong Recurso.] Recepción de insumos de interés de salud pública.
          .hr-divider.my-5
          .list
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              p En los lineamientos generales del PAI en el contexto de la pandemia por COVID19, emitidos por el Ministerio de salud (2020), se encuentra detallado el paso a paso para proceder con la implementación obligatoria de las medidas de bioseguridad desde los lineamientos generales del PAI página 10 a 12.
              .row
                .col-auto    
                  a(href="media/anexos/Anexo_4_GIPS15_Lineamientos_ PAI.pdf",target="_blank",style="color:#12263F")        
                    .jumbotron.mb-0.p-4
                      .row.justify-content-center.align-items-center
                        .col-auto
                          img(src="assets/images/pages/icons/icon_media_pdf.svg", alt="", style="width:55px")
                        .col
                          p.mb-0 #[strong Anexo.] Lineamientos generales del PAI en el contexto de la pandemia por COVID19

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema4_4
            h2 4.4 Elementos de protección personal (EPP)

      .row.mb-4  
        .col-12 
          .jumbotron.mb-0(style="background-color:#F2F2F2") 
            p.mb-0.text-center #[strong Durante la atención intramural y extramural se deben tener en cuenta los elementos y recomendaciones:]

      .row.justify-content-center.align-items-center.mb-5 
        .col-8.col-lg-5
          img(src="assets/images/pages/tema_4/img_4_4_01.svg", alt="", style="width:100%") 
        .col-12.col-lg           
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p.mb-2 #[strong Gorro:]                
              p.mb-0 opcional.
          .hr-divider.mb-3
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p.mb-1 #[strong Mascarilla quirúrgica:]                
              p.mb-0 debe cumplir con los requisitos para uso clínico.
          .hr-divider.mb-3
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p.mb-1 #[strong Gafas, visor o careta:]                
              p.mb-0 debe cumplir con los requisitos para uso clínico.
          .hr-divider.mb-3
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span D
            .list__txt
              p.mb-1 #[strong Bata manga larga antifluido:]                
              p.mb-0 preferiblemente debe ser desechable y de uso por la jornada laboral a menos que se contamine con fluidos.
          .hr-divider.mb-3         
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span E
            .list__txt
              p.mb-1 #[strong Guantes no estériles:]                
              p.mb-0 deben ser de la medida del trabajador que presta el servicio para evitar accidentes, garantizar un par de guantes por cada usuario. El uso de guantes no reemplaza el lavado de manos o el uso de gel antibacterial para la higiene de manos, el cual debe darse antes y después de realizar el procedimiento de vacunación.
          .hr-divider.mb-3
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span F
            .list__txt
              p.mb-1 #[strong Uniforme o vestido quirúrgico debajo de la bata:]                
              p.mb-0 se retira al final del turno. 

      .hr-divider.my-5          
      .row 
        .col-12.mb-4
          p #[strong Adicional], es importante que pueda revisar el documento de soporte de orientaciones para el uso adecuado de los Elementos de Protección Personal por parte de los trabajadores de la salud expuestos a COVID19 en el trabajo y en su domicilio: 
          .row
            .col-auto    
              a(href="media/anexos/Anexo_6_GIPS20.pdf",target="_blank",style="color:#12263F")        
                .jumbotron.mb-0.p-4
                  .row.justify-content-center.align-items-center
                    .col-auto
                      img(src="assets/images/pages/icons/icon_media_pdf.svg", alt="", style="width:55px")
                    .col
                      p.mb-0 #[strong Anexo.] Orientaciones para el uso adecuado de los EPP                

        .col-12 
          p En caso de presentar un accidente laboral debe consultar el procedimiento para el reporte de la institución donde labora y seguir la ruta establecida con los lineamientos para Prevención Control y Reporte de Accidente Laboral por Exposición Ocupacional al SARS CoV-2 (COVID-19) en Instituciones de Salud.
          .row
            .col-auto    
              a(href="media/anexos/Anexo_7_Lineamientos_Prevención_Control_Reporte _Accidente_Laboral.pdf",target="_blank",style="color:#12263F")        
                .jumbotron.mb-0.p-4
                  .row.justify-content-center.align-items-center
                    .col-auto
                      img(src="assets/images/pages/icons/icon_media_pdf.svg", alt="", style="width:55px")
                    .col
                      p.mb-0 #[strong Anexo.] Lineamientos para Prevención Control y Reporte de Accidente Laboral

        .hr-divider.my-5

        .col-12 
          .jumbotron.mb-0.p-4(style="background-color:#FFEBED;")
            .row.justify-content-center.align-items-center
              .col-auto 
                img(src="assets/images/pages/icons/icon_warning.svg", alt="", style="width:75px")
              .col               
                p.mb-0 #[strong Importante:] en caso de programación de acciones de bloqueo en viviendas con caso sospechoso, probable o confirmado de SARS-CoV-2 (COVID19), se debe coordinar las acciones con los equipos de Vigilancia Epidemiológica y utilizar los EPP para los Equipos de Respuesta Inmediata (ERI) en investigación epidemiológica de campo (IEC) establecidos por el Instituto Nacional de Salud (INS). #[a(href="https://www.youtube.com/watch?v=kegYHAt0ivk", target="_blank") INSColombia (2020). Uso de Elementos de Protección Personal en Investigación Epidemiológica de Campo (IEC). ]