.container#tema_3

    .header-ecored
        h1 3. Vacuna contra el COVID-19 
      

    .jumbotron.bg-white 
      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-4.mb-lg-0 
          img(src="assets/images/pages/tema_3/img_3_01.svg", alt="",style="width:300px")
        .col
          p La vacuna BNT162b2 Pfizer-BioNTech, es uno de los biológicos aprobados para la campaña de vacunación en Colombia. Es una vacuna de ARNm de una sola hebra denominada BNT162b2. Altamente purificado y producido por transcripción invitro libre de células.
          p.mb-0 La vacuna hace que las células de la persona vacunada produzcan la proteína S en ausencia del virus activando el sistema inmune para la producción de anticuerpos (Ac) específicos contra el SARS-CoV-2. Los Ac se unen a la proteína S del virus, bloqueando su acción en los receptores ACE2 de las células de las personas vacunadas.

      .row
        .col-12
          .accordion#accordionExample
            .card
              .card-header#heading1
                h2.mb-0
                  button.btn.btn-link.pl-0(type="button", data-toggle="collapse",data-target="#collapse1", aria-expanded="true", aria-controls="collapse1")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Presentación
              .collapse.show#collapse1(aria-labelledby="heading1", data-parent="#accordionExample")
                .card-body(style="background-color:#F2F2F2;")
                  p Vial multidosis que debe diluirse antes de su uso. 1 vial (0,45 ml) contiene 6 dosis de 30 microgramos de BNT162b2 (incrustado en nanopartículas lipídicas).
            .card
              .card-header#heading2
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse2", aria-expanded="false", aria-controls="collapse2")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Forma farmacéutica
              .collapse#collapse2(aria-labelledby="heading2", data-parent="#accordionExample")
                .card-body(style="background-color:#F2F2F2;")
                  p Concentrado para solución inyectable. La vacuna es una solución congelada de color blanco a blanquecino.
            .card
              .card-header#heading3
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse3", aria-expanded="false", aria-controls="collapse3")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Indicaciones terapéuticas 
              .collapse#collapse3(aria-labelledby="heading3", data-parent="#accordionExample")
                .card-body(style="background-color:#F2F2F2;")
                  p Inmunización activa para prevenir el COVID19 causado por el virus del SARS-CoV-2, en personas de 16 años o más. El uso de la vacuna BNT162b2 debe realizarse de acuerdo con las recomendaciones oficiales.
            .card
              .card-header#heading4
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse4", aria-expanded="false", aria-controls="collapse4")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Indicaciones terapéuticas 
              .collapse#collapse4(aria-labelledby="heading4", data-parent="#accordionExample")
                .card-body(style="background-color:#F2F2F2;")
                  p 7 días después de la dosis, la eficacia de la vacuna BNT162b2 fue del 95%.

      
            
    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema3_1
            h2 3.1 Almacenamiento 
      

      .row  
        .col-12 
          p Durante el almacenamiento se debe mantener protegido de la luz solar directa y ultravioleta cumpliendo estrictamente con los pasos para la recepción previa al almacenamiento: 

      .imgTopBar(style="background-color: rgb(196, 204, 240); padding: 1rem;") 
        .row.justify-content-end
          .col-auto(style="background-color:#FFCD3A; padding:0.5rem 1rem; margin:0 0.5rem; border-radius: 5px;") 
            a(href="media/documentos/Almacenameinto_vacuna.pdf", target="_blank", style="text-decoration: none;")
              .row 
                .col-auto 
                  p.d-inline(style="margin-right:10px; color: #471E89;") Descargar recurso
                  img(src="assets/images/pages/icons/download.svg", alt="", style="7px") 
      .row 
        .col
          img(src="assets/images/pages/tema_3/info_3_1_01.png", alt="", style="width:100%")

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema3_2
            h2 3.2 Conservación

      .row.justify-content-center 
        .col-12.col-lg-8
          img(src="assets/images/pages/tema_3/img_3_2_01.svg", alt="", style="width:100%")

      .row.justify-content-center 
        .col-10.col-lg-8     
          .card-media(style="background-color:#F2F2F2")
            .card-media__body 
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_3_01.svg", alt="", style="width:100px")
              .card__copy 
                p.mb-0 Los frascos de la vacuna congelada pueden mantenerse hasta por 6 meses a una temperatura de -70ºC.
      .row.justify-content-center 
        .col-10.col-lg-8    
          .card-media(style="background-color:#F2F2F2")
            .card-media__body 
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_3_02.svg", alt="", style="width:100px")
              .card__copy 
                p.mb-0 Una vez descongelada, la vacuna sin diluir puede almacenarse hasta por 5 días (120 horas) entre +2ºC y +8ºC. 
      .row.justify-content-center 
        .col-10.col-lg-8  
          .card-media(style="background-color:#F2F2F2")
            .card-media__body 
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_3_03.svg", alt="", style="width:100px")
              .card__copy 
                p.mb-0 Diluida debe usarse dentro de las 6 horas siguientes.      
                

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema3_3
            h2 3.3 Transporte

      .row.justify-content-center.align-items-center.mb-5
        .col-auto
          img(src="assets/images/pages/tema_3/img_3_3_01.svg", alt="", style="width:350px")

        .col-12.col-lg
          p.mb-3 El Ministerio de Salud cuenta con un contrato de nacionalización y transporte que soporta las entregas desde el nivel nacional hacia las entidades territoriales bajo unos estándares preestablecidos y empleando en su mayoría transporte aéreo, con inclusión de transporte terrestre para las ciudades cercanas, donde se cuenta con equipos calificados tanto para el almacenamiento como para el transporte.
          .jumbotron.mb-0
            p.mb-0 Para el despliegue de la distribución por regiones al interior del país, se debe contar con equipos de transporte ultracongelado a una temperatura de hasta de -80°C y sistema de monitoreo de temperaturas.

      .row.mb-5 
        .col-12
          p.mb-0 De acuerdo con las necesidades de la cadena de frío y recomendaciones del proveedor, las vacunas pueden ser transportadas mediante cajas térmicas de la siguiente forma:

      .imgTopBar(style="background-color: rgb(196, 204, 240); padding: 1rem;") 
        .row.justify-content-end
          .col-auto(style="background-color:#FFCD3A; padding:0.5rem 1rem; margin:0 0.5rem; border-radius: 5px;") 
            a(href="media/documentos/Transporte_Vacunas.pdf", target="_blank", style="text-decoration: none;")
              .row 
                .col-auto 
                  p.d-inline(style="margin-right:10px; color: #471E89;") Descargar recurso
                  img(src="assets/images/pages/icons/download.svg", alt="", style="7px") 
      .row 
        .col
          img(src="assets/images/pages/tema_3/info_3_3_02.svg", alt="", style="width:100%")

      .hr-divider.my-5
      .row
        .col-12 
          .jumbotron.mb-0.p-4(style="background-color:#FFEBED;")
            .row.justify-content-center.align-items-center
              .col-auto 
                img(src="assets/images/pages/icons/icon_warning.svg", alt="", style="width:75px")
              .col               
                p.mb-0 Es imprescindible supervisar constantemente la cadena de frío y mantener los registros al día de acuerdo al #[strong Manual PAI tomo 7 página 67 a 68] #[a(href="media/anexos/Anexo_1_Manual_PAI_tomo_7.pdf", target="_blank") Anexo. Manual PAI, tomo 7 página 67 a 68 ]

      
      
        
        
